body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9382273;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
    background-color: white;
    border-radius: 5px;
}
.screen {
    display: grid;
    grid-auto-rows: 1fr;
    height: 600px;
    width: 600px;
    border: 0.2rem solid black;
    border-radius: 0.3rem;
    cursor: crosshair;

}



.title {
    padding: 20px;
    font-weight: 900px;
    background-color: aquamarine;
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.options, .part1,
.part2, .part3,
.clrpicker1, .sizepicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.part1{
    gap: 20px;
}
.part3 {
    margin-top: 50px;
    margin-bottom: 25px;
    gap: 12px
}

#myBtn {
    width: 100%;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;

}


/* From uiverse.io by @meermubashar */
button {
    width: 140px;
    height: 45px;
    font-size: 23px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: all 0.5s;
   }
   
   button:hover::before {
    width: 100%;
   }
   
   button:hover {
    color: black;
   }
   
   button:active:before {
    background: #b9b9b9;
   }

   .buttonAfter {
       background-color: white;
       color: black;
   }



.picker-wrapper, .picker-wrapper1 {
    border-radius: 60%;
    height: 40px;
    width: 40px;
}
.picker, .screenPicker {
	opacity: 0;
	display: block;
    padding: 8px;
    width: 100%;
    height: 100%;
	border: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 6px;

  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }